.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.8;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:after {
  opacity: 1;
  background-image: url("/sparkles.gif"), url("/holo.webp");
  background-size: cover;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(2) contrast(2);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
  border-radius: 6px;
}

.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
  transform: scale(1.05);
}

.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}
