.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.8;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:after {
  opacity: 1;
  background-image: url("/sparkles.gif"), url("/holo.webp");
  background-size: cover;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(3) contrast(5);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
  border-radius: 6px;
}
